workflow_RAe54lQ1cetHZzyB.json
{
  "updatedAt": "2026-07-17T20:20:01.058Z",
  "createdAt": "2026-07-17T19:35:03.140Z",
  "id": "RAe54lQ1cetHZzyB",
  "name": "LabResultados - Env\u00edo de resultados v\u00eda puente Outlook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Antes de activar\n1. Crear credencial **Header Auth** para el Webhook (header `X-Auth-Token`) y asignarla al nodo Webhook.\n2. Crear credencial **Header Auth** para la API del backend y asignarla a los dos nodos HTTP Request.\n3. Montar vol\u00famenes en el contenedor n8n:\n   - `/data/cola_envio` \u2192 carpeta compartida de la PC Windows (outbox/, resultados/)\n   - `/data/pdfs` \u2192 carpeta del servidor donde ya existen los PDF (solo lectura)\n4. Ajustar los endpoints SUPUESTOS del backend (ver nota amarilla).\n5. El flujo se entrega INACTIVO por regla de negocio.",
        "height": 280,
        "width": 640
      },
      "id": "90496255-9018-4962-921d-c83cd00fab6c",
      "name": "Nota: configuraci\u00f3n requerida",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Endpoints del backend (AJUSTAR a tu FastAPI)\n**POST /api/envios/preparar**\nRecibe: `{ \"resultado_ids\": [1,2,3] }`\nDevuelve (array): `[{ \"id_envio\": 15, \"folio\": \"2026-0341\", \"nombre_destinatario\": \"Sra. Mar\u00eda P\u00e9rez\", \"email\": \"maria@x.com\", \"pdf_filename\": \"2026-0341.pdf\" }]`\n\n**POST /api/envios/confirmar**\nRecibe el contenido del `{id}.ok.json` / `{id}.err.json` del puente:\n`{ \"id\": \"...\", \"estado\": \"enviado|error\", \"destinatario\": \"...\", \"fecha\": \"...\", \"error\": \"...\" }`\n\nn8n NO valida ni modifica datos cl\u00ednicos: solo orquesta.",
        "height": 280,
        "width": 620
      },
      "id": "823cc2a3-2f0a-4bdc-8283-fa90c290173d",
      "name": "Nota: endpoints supuestos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-resultados",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "20b72db7-4dda-45a2-b46b-e306945f25ba",
      "name": "Webhook: enviar resultados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "f104be76-9d9b-4a7a-bef7-fcbc0c8cbad7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o4ncT56RhsZVE5Ob",
          "name": "Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst ids = body.resultado_ids;\nif (!Array.isArray(ids) || ids.length === 0) {\n  throw new Error('Payload inv\u00e1lido: se requiere resultado_ids como array no vac\u00edo');\n}\nif (ids.length > 200) {\n  throw new Error('M\u00e1ximo 200 resultados por solicitud');\n}\n// Anti-replay opcional: si el frontend manda ts (epoch seg), rechazar solicitudes viejas\nconst ts = Number(body.ts || 0);\nif (ts && Math.abs(Date.now() / 1000 - ts) > 300) {\n  throw new Error('Solicitud expirada (anti-replay)');\n}\nreturn [{ json: { resultado_ids: ids } }];"
      },
      "id": "b1319cc7-630c-4547-87e0-c4f090c86456",
      "name": "Validar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/envios/preparar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resultado_ids: $json.resultado_ids }) }}",
        "options": {}
      },
      "id": "739c0684-eb77-412a-a4f7-2230e5c76416",
      "name": "Backend: preparar env\u00edos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $json;\nif (!it.email || !it.pdf_filename) {\n  throw new Error(`Registro incompleto para folio ${it.folio || '?'} (falta email o pdf_filename)`);\n}\nconst id = `${it.folio}_${Date.now()}_${Math.floor(Math.random() * 1000)}`;\nconst nombre = it.nombre_destinatario || 'paciente';\nconst cuerpo = [\n  `<p>Estimado(a) ${nombre}:</p>`,\n  '<p>Le hacemos llegar en el documento adjunto los resultados del estudio realizado por el Instituto de Atenci\u00f3n Integral de Enfermedades Renales (INAER).</p>',\n  '<p>Si tiene dudas sobre la interpretaci\u00f3n de los resultados, le invitamos a acudir a su unidad de salud o comunicarse con nosotros.</p>',\n  '<p>Este mensaje y su adjunto contienen informaci\u00f3n confidencial dirigida exclusivamente a su destinatario. Si lo recibi\u00f3 por error, le pedimos eliminarlo y notificarlo a este remitente.</p>',\n  '<p>Atentamente,<br>INAER \u2014 Detecci\u00f3n Oportuna y Registro<br>Gobierno del Estado de Aguascalientes</p>'\n].join('');\nreturn {\n  json: {\n    id,\n    para: it.email,\n    cc: '',\n    asunto: `Resultados de laboratorio \u2014 Folio ${it.folio}`,\n    cuerpo_html: cuerpo,\n    cifrar_pdf: false,\n    password_pdf: '',\n    pdf_filename: it.pdf_filename,\n    id_envio: it.id_envio ?? it.folio\n  }\n};"
      },
      "id": "db492bf3-aaee-4feb-a330-c639fa56dbbd",
      "name": "Construir tarea de env\u00edo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/data/pdfs/{{ $json.pdf_filename }}",
        "options": {}
      },
      "id": "1fb3260b-3785-4bf5-90b6-74c1560fa86d",
      "name": "Leer PDF del servidor",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/cola_envio/outbox/{{ $json.id }}.pdf",
        "options": {}
      },
      "id": "b860e246-c84e-4d2e-b237-5d7620c3520d",
      "name": "Escribir PDF en outbox",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1344,
        400
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {}
      },
      "id": "c56516a8-ca00-4245-99fc-6b1f2db298a1",
      "name": "Generar archivo JSON de tarea",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1568,
        400
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/cola_envio/outbox/{{ $json.id }}.json",
        "options": {}
      },
      "id": "f99074cf-e25a-43a6-81e9-1eb109a9ea57",
      "name": "Escribir JSON en outbox",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1792,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{ json: {\n  ok: true,\n  encolados: items.length,\n  ids: items.map(i => i.json.id)\n} }];"
      },
      "id": "28c8ea95-c5a9-4544-b59a-bd0e9dbae6bc",
      "name": "Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "740ffcac-33c2-4992-9540-a9d62de85d0c",
      "name": "Responder al frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2224,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Flujo 2: confirmaciones del puente\nCada 2 minutos revisa `/data/cola_envio/resultados/*.json` (los `.ok.json` / `.err.json` que escribe el puente), reporta el estado al backend y archiva el archivo en `procesados/`.\nSi no hay archivos, el flujo simplemente no contin\u00faa.",
        "height": 180,
        "width": 620
      },
      "id": "4137d844-5a5e-45d4-a802-a7970a2f6192",
      "name": "Nota: cierre del ciclo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        656
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "e01ad19c-8344-46b3-b217-572d90618617",
      "name": "Cada 2 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        880
      ]
    },
    {
      "parameters": {
        "fileSelector": "/data/cola_envio/resultados/*.json",
        "options": {}
      },
      "id": "86226f6c-30b7-4d78-b381-0ac690d3a97e",
      "name": "Leer confirmaciones",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        464,
        880
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "63370af7-76a1-4715-91b8-a9c6e407c53b",
      "name": "Extraer contenido",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        688,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/envios/confirmar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "80870d8c-02a7-4e30-8b82-5ae16f6183cc",
      "name": "Backend: registrar estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        880
      ]
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/cola_envio/resultados/procesados && mv \"/data/cola_envio/resultados/{{ $json.id }}.{{ $json.estado === 'enviado' ? 'ok' : 'err' }}.json\" /data/cola_envio/resultados/procesados/"
      },
      "id": "3e7a82d8-6f70-4ccd-a958-1f62ab808c57",
      "name": "Archivar confirmaci\u00f3n",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        880
      ]
    }
  ],
  "connections": {
    "Webhook: enviar resultados": {
      "main": [
        [
          {
            "node": "Validar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar payload": {
      "main": [
        [
          {
            "node": "Backend: preparar env\u00edos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend: preparar env\u00edos": {
      "main": [
        [
          {
            "node": "Construir tarea de env\u00edo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir tarea de env\u00edo": {
      "main": [
        [
          {
            "node": "Leer PDF del servidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PDF del servidor": {
      "main": [
        [
          {
            "node": "Escribir PDF en outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir PDF en outbox": {
      "main": [
        [
          {
            "node": "Generar archivo JSON de tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar archivo JSON de tarea": {
      "main": [
        [
          {
            "node": "Escribir JSON en outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir JSON en outbox": {
      "main": [
        [
          {
            "node": "Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen": {
      "main": [
        [
          {
            "node": "Responder al frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 2 minutos": {
      "main": [
        [
          {
            "node": "Leer confirmaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer confirmaciones": {
      "main": [
        [
          {
            "node": "Extraer contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer contenido": {
      "main": [
        [
          {
            "node": "Backend: registrar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cada 2 minutos": {
      "recurrenceRules": [
        null
      ],
      "recurrenceRuleSignatures": [
        null
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "f7148144-4e50-4a50-9f9c-f89279b2eef8",
  "activeVersionId": "e8674f33-e63e-4b33-94f5-5fcb1c113a1e",
  "versionCounter": 3,
  "triggerCount": 2,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-17T19:35:03.142Z",
      "createdAt": "2026-07-17T19:35:03.142Z",
      "role": "workflow:owner",
      "workflowId": "RAe54lQ1cetHZzyB",
      "projectId": "vkkEAsl4i4K0iAgI",
      "project": {
        "updatedAt": "2026-07-15T16:19:54.685Z",
        "createdAt": "2026-07-15T15:25:51.300Z",
        "id": "vkkEAsl4i4K0iAgI",
        "name": "Emerson Collazo <cojazzo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bf661590-7d7c-4583-9fc7-a97feb65b7e1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-17T19:50:57.721Z",
    "createdAt": "2026-07-17T19:50:57.721Z",
    "versionId": "e8674f33-e63e-4b33-94f5-5fcb1c113a1e",
    "workflowId": "RAe54lQ1cetHZzyB",
    "nodes": [
      {
        "parameters": {
          "content": "## Antes de activar\n1. Crear credencial **Header Auth** para el Webhook (header `X-Auth-Token`) y asignarla al nodo Webhook.\n2. Crear credencial **Header Auth** para la API del backend y asignarla a los dos nodos HTTP Request.\n3. Montar vol\ufffdmenes en el contenedor n8n:\n   - `/data/cola_envio` ? carpeta compartida de la PC Windows (outbox/, resultados/)\n   - `/data/pdfs` ? carpeta del servidor donde ya existen los PDF (solo lectura)\n4. Ajustar los endpoints SUPUESTOS del backend (ver nota amarilla).\n5. El flujo se entrega INACTIVO por regla de negocio.",
          "height": 280,
          "width": 640
        },
        "id": "90496255-9018-4962-921d-c83cd00fab6c",
        "name": "Nota: configuraci\ufffdn requerida",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          32
        ]
      },
      {
        "parameters": {
          "content": "## Endpoints del backend (AJUSTAR a tu FastAPI)\n**POST /api/envios/preparar**\nRecibe: `{ \"resultado_ids\": [1,2,3] }`\nDevuelve (array): `[{ \"id_envio\": 15, \"folio\": \"2026-0341\", \"nombre_destinatario\": \"Sra. Mar\ufffda P\ufffdrez\", \"email\": \"maria@x.com\", \"pdf_filename\": \"2026-0341.pdf\" }]`\n\n**POST /api/envios/confirmar**\nRecibe el contenido del `{id}.ok.json` / `{id}.err.json` del puente:\n`{ \"id\": \"...\", \"estado\": \"enviado|error\", \"destinatario\": \"...\", \"fecha\": \"...\", \"error\": \"...\" }`\n\nn8n NO valida ni modifica datos cl\ufffdnicos: solo orquesta.",
          "height": 280,
          "width": 620
        },
        "id": "823cc2a3-2f0a-4bdc-8283-fa90c290173d",
        "name": "Nota: endpoints supuestos",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          928,
          32
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "enviar-resultados",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "20b72db7-4dda-45a2-b46b-e306945f25ba",
        "name": "Webhook: enviar resultados",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          400
        ],
        "webhookId": "f104be76-9d9b-4a7a-bef7-fcbc0c8cbad7",
        "credentials": {
          "httpHeaderAuth": {
            "id": "o4ncT56RhsZVE5Ob",
            "name": "Webhook Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || {};\nconst ids = body.resultado_ids;\nif (!Array.isArray(ids) || ids.length === 0) {\n  throw new Error('Payload inv\ufffdlido: se requiere resultado_ids como array no vac\ufffdo');\n}\nif (ids.length > 200) {\n  throw new Error('M\ufffdximo 200 resultados por solicitud');\n}\n// Anti-replay opcional: si el frontend manda ts (epoch seg), rechazar solicitudes viejas\nconst ts = Number(body.ts || 0);\nif (ts && Math.abs(Date.now() / 1000 - ts) > 300) {\n  throw new Error('Solicitud expirada (anti-replay)');\n}\nreturn [{ json: { resultado_ids: ids } }];"
        },
        "id": "b1319cc7-630c-4547-87e0-c4f090c86456",
        "name": "Validar payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://backend:8000/api/envios/preparar",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ resultado_ids: $json.resultado_ids }) }}",
          "options": {}
        },
        "id": "739c0684-eb77-412a-a4f7-2230e5c76416",
        "name": "Backend: preparar env\ufffdos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "z09sgHXpGFFcOguW",
            "name": "Backend API Auth"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const it = $json;\nif (!it.email || !it.pdf_filename) {\n  throw new Error(`Registro incompleto para folio ${it.folio || '?'} (falta email o pdf_filename)`);\n}\nconst id = `${it.folio}_${Date.now()}_${Math.floor(Math.random() * 1000)}`;\nconst nombre = it.nombre_destinatario || 'paciente';\nconst cuerpo = [\n  `<p>Estimado(a) ${nombre}:</p>`,\n  '<p>Le hacemos llegar en el documento adjunto los resultados del estudio realizado por el Instituto de Atenci\ufffdn Integral de Enfermedades Renales (INAER).</p>',\n  '<p>Si tiene dudas sobre la interpretaci\ufffdn de los resultados, le invitamos a acudir a su unidad de salud o comunicarse con nosotros.</p>',\n  '<p>Este mensaje y su adjunto contienen informaci\ufffdn confidencial dirigida exclusivamente a su destinatario. Si lo recibi\ufffd por error, le pedimos eliminarlo y notificarlo a este remitente.</p>',\n  '<p>Atentamente,<br>INAER - Detecci\ufffdn Oportuna y Registro<br>Gobierno del Estado de Aguascalientes</p>'\n].join('');\nreturn {\n  json: {\n    id,\n    para: it.email,\n    cc: '',\n    asunto: `Resultados de laboratorio - Folio ${it.folio}`,\n    cuerpo_html: cuerpo,\n    cifrar_pdf: false,\n    password_pdf: '',\n    pdf_filename: it.pdf_filename,\n    id_envio: it.id_envio ?? it.folio\n  }\n};"
        },
        "id": "db492bf3-aaee-4feb-a330-c639fa56dbbd",
        "name": "Construir tarea de env\ufffdo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          400
        ]
      },
      {
        "parameters": {
          "fileSelector": "=/data/pdfs/{{ $json.pdf_filename }}",
          "options": {}
        },
        "id": "1fb3260b-3785-4bf5-90b6-74c1560fa86d",
        "name": "Leer PDF del servidor",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1120,
          400
        ]
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/cola_envio/outbox/{{ $json.id }}.pdf",
          "options": {}
        },
        "id": "b860e246-c84e-4d2e-b237-5d7620c3520d",
        "name": "Escribir PDF en outbox",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1344,
          400
        ]
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {}
        },
        "id": "c56516a8-ca00-4245-99fc-6b1f2db298a1",
        "name": "Generar archivo JSON de tarea",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1568,
          400
        ]
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/data/cola_envio/outbox/{{ $json.id }}.json",
          "options": {}
        },
        "id": "f99074cf-e25a-43a6-81e9-1eb109a9ea57",
        "name": "Escribir JSON en outbox",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1792,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn [{ json: {\n  ok: true,\n  encolados: items.length,\n  ids: items.map(i => i.json.id)\n} }];"
        },
        "id": "28c8ea95-c5a9-4544-b59a-bd0e9dbae6bc",
        "name": "Resumen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "740ffcac-33c2-4992-9540-a9d62de85d0c",
        "name": "Responder al frontend",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2224,
          400
        ]
      },
      {
        "parameters": {
          "content": "## Flujo 2: confirmaciones del puente\nCada 2 minutos revisa `/data/cola_envio/resultados/*.json` (los `.ok.json` / `.err.json` que escribe el puente), reporta el estado al backend y archiva el archivo en `procesados/`.\nSi no hay archivos, el flujo simplemente no contin\ufffda.",
          "height": 180,
          "width": 620
        },
        "id": "4137d844-5a5e-45d4-a802-a7970a2f6192",
        "name": "Nota: cierre del ciclo",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          656
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 2
              }
            ]
          }
        },
        "id": "e01ad19c-8344-46b3-b217-572d90618617",
        "name": "Cada 2 minutos",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          880
        ]
      },
      {
        "parameters": {
          "fileSelector": "/data/cola_envio/resultados/*.json",
          "options": {}
        },
        "id": "86226f6c-30b7-4d78-b381-0ac690d3a97e",
        "name": "Leer confirmaciones",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          464,
          880
        ]
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "id": "63370af7-76a1-4715-91b8-a9c6e407c53b",
        "name": "Extraer contenido",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          688,
          880
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://backend:8000/api/envios/confirmar",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "80870d8c-02a7-4e30-8b82-5ae16f6183cc",
        "name": "Backend: registrar estado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          880
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "z09sgHXpGFFcOguW",
            "name": "Backend API Auth"
          }
        }
      },
      {
        "parameters": {
          "fileName": "=/data/cola_envio/resultados/{{ $json.id }}.{{ $json.estado === 'enviado' ? 'ok' : 'err' }}.json",
          "operation": "delete"
        },
        "id": "3e7a82d8-6f70-4ccd-a958-1f62ab808c57",
        "name": "Archivar confirmaci\ufffdn",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1120,
          880
        ]
      }
    ],
    "connections": {
      "Webhook: enviar resultados": {
        "main": [
          [
            {
              "node": "Validar payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar payload": {
        "main": [
          [
            {
              "node": "Backend: preparar env\ufffdos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Backend: preparar env\ufffdos": {
        "main": [
          [
            {
              "node": "Construir tarea de env\ufffdo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir tarea de env\ufffdo": {
        "main": [
          [
            {
              "node": "Leer PDF del servidor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer PDF del servidor": {
        "main": [
          [
            {
              "node": "Escribir PDF en outbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir PDF en outbox": {
        "main": [
          [
            {
              "node": "Generar archivo JSON de tarea",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar archivo JSON de tarea": {
        "main": [
          [
            {
              "node": "Escribir JSON en outbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escribir JSON en outbox": {
        "main": [
          [
            {
              "node": "Resumen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resumen": {
        "main": [
          [
            {
              "node": "Responder al frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cada 2 minutos": {
        "main": [
          [
            {
              "node": "Leer confirmaciones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer confirmaciones": {
        "main": [
          [
            {
              "node": "Extraer contenido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer contenido": {
        "main": [
          [
            {
              "node": "Backend: registrar estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Emerson Collazo",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-17T19:50:57.870Z",
        "id": 1,
        "workflowId": "RAe54lQ1cetHZzyB",
        "versionId": "e8674f33-e63e-4b33-94f5-5fcb1c113a1e",
        "event": "activated",
        "userId": "bf661590-7d7c-4583-9fc7-a97feb65b7e1"
      }
    ]
  }
}