docs/n8n/LabResultados_envio_EWS.n8n.json
{
  "name": "LabResultados - Envío de resultados vía EWS",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "id": "sticky-1",
      "name": "Nota: configuración requerida",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -360
      ],
      "parameters": {
        "width": 640,
        "height": 280,
        "content": "## Antes de activar\n1. Crear credencial **Header Auth** para la API del backend y asignarla a los nodos HTTP Request de preparar y confirmar.\n2. Crear credencial **Header Auth** para la API EWS (`X-API-Key`) y asignarla al nodo HTTP Request EWS.\n3. Asegurarse que el contenedor n8n tiene acceso a `/data/pdfs`.\n4. El flujo se entrega INACTIVO."
      }
    },
    {
      "id": "sticky-2",
      "name": "Nota: endpoints supuestos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -360
      ],
      "parameters": {
        "width": 620,
        "height": 280,
        "content": "## Endpoints del backend (AJUSTAR a tu FastAPI)\n**POST /api/envios/preparar**\n**POST /api/envios/confirmar**\n\nEl webhook responde rápido al frontend, y en paralelo procesa los correos."
      }
    },
    {
      "id": "webhook-envio",
      "name": "Webhook: enviar resultados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-resultados",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-validar",
      "name": "Validar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || {};\nconst ids = body.resultado_ids;\nif (!Array.isArray(ids) || ids.length === 0) {\n  throw new Error('Payload inválido: se requiere resultado_ids como array no vacío');\n}\nif (ids.length > 200) {\n  throw new Error('Máximo 200 resultados por solicitud');\n}\n// Anti-replay opcional: si el frontend manda ts (epoch seg), rechazar solicitudes viejas\nconst ts = Number(body.ts || 0);\nif (ts && Math.abs(Date.now() / 1000 - ts) > 300) {\n  throw new Error('Solicitud expirada (anti-replay)');\n}\nreturn [{ json: { resultado_ids: ids } }];"
      }
    },
    {
      "id": "http-preparar",
      "name": "Backend: preparar envíos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/envios/preparar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resultado_ids: $json.resultado_ids }) }}",
        "options": {}
      }
    },
    {
      "id": "code-tarea",
      "name": "Construir tarea de envío",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const it = $json;\nif (!it.email || !it.pdf_filename) {\n  throw new Error(`Registro incompleto para folio ${it.folio || '?'} (falta email o pdf_filename)`);\n}\nconst id = `${it.folio}_${Date.now()}_${Math.floor(Math.random() * 1000)}`;\nconst nombre = it.nombre_destinatario || 'paciente';\nconst cuerpo = [\n  `<p>Estimado(a) ${nombre}:</p>`,\n  '<p>Le hacemos llegar en el documento adjunto los resultados del estudio realizado por el Instituto de Atención Integral de Enfermedades Renales (INAER).</p>',\n  '<p>Si tiene dudas sobre la interpretación de los resultados, le invitamos a acudir a su unidad de salud o comunicarse con nosotros.</p>',\n  '<p>Este mensaje y su adjunto contienen información confidencial dirigida exclusivamente a su destinatario. Si lo recibió por error, le pedimos eliminarlo y notificarlo a este remitente.</p>',\n  '<p>Atentamente,<br>INAER — Detección Oportuna y Registro<br>Gobierno del Estado de Aguascalientes</p>'\n].join('');\nreturn {\n  json: {\n    id,\n    para: it.email,\n    cc: '',\n    asunto: `Resultados de laboratorio — Folio ${it.folio}`,\n    cuerpo_html: cuerpo,\n    cifrar_pdf: false,\n    password_pdf: '',\n    pdf_filename: it.pdf_filename,\n    id_envio: it.id_envio ?? it.folio\n  }\n};"
      }
    },
    {
      "id": "file-leer-pdf",
      "name": "Leer PDF del servidor",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        820,
        0
      ],
      "parameters": {
        "fileSelector": "=/data/pdfs/{{ $json.pdf_filename }}",
        "options": {}
      }
    },
    {
      "id": "code-resumen",
      "name": "Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{ json: {\n  ok: true,\n  encolados: items.length,\n  ids: items.map(i => i.json.id)\n} }];"
      }
    },
    {
      "id": "respond",
      "name": "Responder al frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "code-base64",
      "name": "Preparar Base64 y JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const json = $json;\nconst binaryData = $binary.data.data;\n\nreturn {\n  json: {\n    ...json,\n    pdf_base64: binaryData\n  }\n};"
      }
    },
    {
      "id": "http-ews",
      "name": "Enviar Email via EWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/send-email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.para, subject: $json.asunto, body: $json.cuerpo_html, is_html: true, attachments: [{ filename: $json.pdf_filename, content_base64: $json.pdf_base64 }] }) }}",
        "options": {}
      }
    },
    {
      "id": "http-confirmar",
      "name": "Backend: confirmar éxito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/envios/confirmar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $('Construir tarea de envío').item.json.id, estado: 'enviado', destinatario: $('Construir tarea de envío').item.json.para, fecha: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook: enviar resultados": {
      "main": [
        [
          {
            "node": "Validar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar payload": {
      "main": [
        [
          {
            "node": "Backend: preparar envíos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend: preparar envíos": {
      "main": [
        [
          {
            "node": "Construir tarea de envío",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen": {
      "main": [
        [
          {
            "node": "Responder al frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir tarea de envío": {
      "main": [
        [
          {
            "node": "Leer PDF del servidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PDF del servidor": {
      "main": [
        [
          {
            "node": "Preparar Base64 y JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Base64 y JSON": {
      "main": [
        [
          {
            "node": "Enviar Email via EWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email via EWS": {
      "main": [
        [
          {
            "node": "Backend: confirmar éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}